.hidden {
    display: none;
}

:root {
  --primary-color: #4d5ae5;
  --white-color: #ffffff;
}


  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }

  ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1, 
  h2,
  h3,
  h4,
  h5,
  h6, 
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }

  img {
     display: block;
     width: 100%;
     height: auto;
  }


button {
  cursor: pointer;
}

 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
      }
 }

@media screen and (min-width: 1158px) {
     .container {
      max-width: 1158px;
      padding: 0 15px;
      }
}

 /* header */

 .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.header-address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}
  
.header-logo .logo-part {
  color: #2e2f42;
}
  
.footer-logo .logo-part {
  color: #f4f4fd;
}

.header-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.header-button-svg {
  display: block;
  fill: #2f2f37;
}

 @media screen and (min-width: 768px) {
  .header-button-svg {
      display: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 120px;
}

.header-address {
  font-style: normal;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}
  
.nav-link.current {
  position: relative;
}
  
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
  color: #404bbf;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
.header-logo {
  margin-right: 76px;
}
.address-list {
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.address-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
}

/* mobale-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  border: none;
  background-color: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close {
  fill: #2e2f42;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close:hover .menu-close,
.mobile-menu-close:focus .menu-close {
  fill: #ffffff
}

.mobile-nav {
  margin-bottom: auto;
}

.nav-list-mobale {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-address {
  padding-bottom: 48px;
}

.nav-link-mobale {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px; 
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio {
  color: #404bbf;
}

.address-list-mobale {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.address-link-mobale {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px; 
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}

.phone-nomber {
color: #4D5AE5;  
}

.mobale-list-icon {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobale-icon-item {
  width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin-bottom: 40px;
}

.mobale-icon {
  width: 100%;
    height: 100%;
    background-color: var(--brand-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-mobale {
  fill: #f4f4fd;
}




@media screen and (min-width: 768px) { 
  .mobile-menu {
    display: none;
  }
}

/* business  */

.business-section {
  padding: 72px 0;
  background-color: #2e2f42;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.business-section.background {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/people-office\ 1-min.jpg);
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .business-section.background {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/work/people-office\ 1@2x-min.jpg);
  }
}

.business-title {
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.business-button {
  display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business-button:hover,
.business-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .business-section {
    padding: 112px 0;
    max-width: 768px;
  }

  .business-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
.business-section {
  padding: 188px 0;
  max-width: 1440px;
}

.business-title {
  margin-bottom: 48px;
}
}

/* work */

.work-section {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 .work-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
} 

.work-photo-container {
  display: none;
}

.work-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.work-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {

  .work-title {
    text-align: start;
  }

  .work-list {
    flex-direction: row; 
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .work-item {
    width: calc((100% - 72px)/2);
  }
}

@media screen and (min-width: 1158px) {
  .work-section {
    padding: 120px 0;
  }
  .work-list {
    align-items: center;
    gap: 24px;
  }

  .work-photo-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .work-img {
    width: 64px;
    height: 64px;
  }

    .work-item {
      width: calc((100% - 72px)/4);
    }

  .work-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .work-text {
    font-weight: 400;
  }
}

/* team */ 

.team-section {
  background-color: #F4F4FD;
  padding: 96px 0;
}

.title-team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-div {
  padding: 32px 0
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.svg-team {
  fill: #f4f4fd;
}

.team-list-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover,
.team-icon:focus {
  background-color: #404bbf;
}

.team-icon-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {

    .team-list {
      row-gap: 64px;
      column-gap: 24px;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .team-item {
      width: calc((100% - 72px) / 2);
    }
}


@media screen and (min-width: 1158px) {
.team-section {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
   }
}

/* portfolio */

.portfolio-section {
  padding: 96px 0;
}

.title-portfolio {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlate-text,
.portfolio-item:focus .portfolio-overlate-text {
  transform: translateY(0); 
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .portfolio-overlate-photo {
    position: relative;
    overflow: hidden;
  }

.portfolio-overlate-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 164px;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

    .portfolio-list {
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
    }

    .portfolio-item {
      width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1158px) {
  .portfolio-section {
      padding: 120px 0 120px 0;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item {
      box-shadow: none;
    }
}

/* footer */

.div-footer-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-text {
  max-width: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-color);
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-footer {
  fill: #f4f4fd;
}

 .footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
} 
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}

.footer-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  
}

input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-input-button {
  background-color: #4d5ae5;
  border-radius: 4px;
  max-width: 165px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
}

.footer-telegram-icon {
  fill: #fff;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
.div-footer-all {
    align-items: baseline;
    flex-direction: row;   
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }


    .footer-logo {
      align-items: start;
      justify-content: start;
    }

    .footer-text {
      max-width: 264px;
    }

    .footer-subscribe-text {
      text-align: start;
    }

    .footer-form {
      flex-direction: row;
      gap: 24px;
    }

}

@media screen and (min-width: 1158px) {
  .page-footer {
      padding: 100px 0;
    }

  .div-footer-all {
    flex-wrap: nowrap;
  }

  .div-1 {
    margin-right: 120px
  }

  .footer-text {
    max-width: 264px;
  }

  
}

/* overlay */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  width: 228px;
  min-height: 623px;
  border-radius: 4px;
  overflow-y: auto;
  padding: 72px 16px 16px 24px;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.overlay-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  background-color: #E7E9FC;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-close {
  border-radius: 100%;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-button:hover,
.overlay-button:focus {
  background-color: #404bbf;
  border: none;
}

.overlay-button:hover .overlay-close,
.overlay-button:focus .overlay-close {
  fill: #ffffff
}

.modal-text {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 16px;
}

.modal-div {
  margin-bottom: 8px;
}

.href-policy {
  line-height: 16px;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}


.modal-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-svg-div {
  position: relative;
  fill: #2e2f42;
}

.modal-svg-div svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: none;
  line-height: 1.17;
  background-color: transparent;
  outline: transparent;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus~svg {
  fill: #4d5ae5;
}


.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.modal-textarea:focus {
  border-color: #4D5AE5;
}

.comment-div {
  margin-bottom: 16px;
}

.checkbox-div {
  margin-bottom: 24px;
}

.modal-div-checkbox {
  margin-bottom: 24px;
  margin-left: 32px;
  margin-right: 32px;
}

.modal-checkbox-label {
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox-span {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  fill: #404bbf;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked+.modal-checkbox-label>.modal-checkbox-span {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}


.svg-checkbox-span {
  fill: #f4f4fd;
}


.submit-button-modal {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: 24px auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-color: transparent;
  cursor: pointer;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-checkbox-label {
    display: block;
  }
}

